<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="59025568-2141-4cc8-8f42-1e0a8ac89ebc"
            Publisher="CN=Clint"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Coding4Fun.Toolkit.Controls</DisplayName>
    <PublisherDisplayName>Clint</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Coding4Fun.Toolkit.Controls.App">
        <VisualElements
            DisplayName="Coding4Fun.Toolkit.Controls"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="Coding4Fun.Toolkit.Controls"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>